
<div class="m-3 w-80 m-3 flex bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <a href="{{ fileUpload.url }}">
      <img class="rounded-t-lg" src="{{ fileUpload.url }}" alt="" class="w-full h-full">
  </a>
  <div class="p-5">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ fileUpload.name }}</h5>
      </a>
  </div>
  <button (click)="deleteFileUpload(fileUpload)" type="button" class="text-center focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>
</div>
<!-- 


<a href="{{ fileUpload.url }}">{{ fileUpload.name }}</a>
<img src="{{ fileUpload.url }}" alt="">
<button (click)="deleteFileUpload(fileUpload)"
  class="btn btn-danger btn-sm" style="float: right">
  Delete
</button> -->